.advantages__wrapper {
  width: 320px;
  margin: auto;
}

.advantages__header {
  margin-bottom: 65px;
}

.advantages__header-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  padding-top: 45px;
  padding-bottom: 30px;
}

.advantages__header-title:nth-child(2) {
  padding-top: 0;
  padding-bottom: 0;
}

.advantages__flex-box {
  height: 755px;
}

.advantages__list {
  position: relative;
  height: 755px;
  background-color: #f2f2f2;
  .list-style;
  padding-left: 33px;
  padding-right: 33px;
  z-index: 1;
  overflow: hidden;
}

.advantages__list-image {
  position: relative;
  top: -200px;
  left: 60px;
  width: 320px;
  height: 277px;
  .list-style;
  z-index: 1;
  overflow: hidden;
}

.advantages__list-title {
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  margin: 0;
  padding-top: 40px;
}

.advantages__list-text {
  color: black;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  padding: 0;
  margin: 0;
  padding-top: 10px;
}

.advantages__list-item:nth-child(3) .advantages__list-text {
  margin-bottom: 45px;
}

.advantages__image-smile {
  position: relative;
  margin: auto;
  z-index: 2;
}

.advantages__image-smile-rose,
.advantages__image-smile-grey {
  display: none;
}

.advantages__list-time {
  display: none;
}

@media (min-width: 660px) {
  .advantages__wrapper {
    width: 660px;
  }

  .advantages__header {
    width: 660px;
    height: 244px;
    margin-bottom: 0;
  }

  .advantages__header-title {
    font-size: 40px;
    padding-bottom: 0;
    line-height: 48px;
  }

  .advantages__header-title:nth-child(2) {
    width: 400px;
    padding-left: 130px;
    padding-right: 130px;
    line-height: 48px;
  }

  .advantages__image-smile {
    margin: 0;
  }

  .advantages__flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    height: 482px;
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-right: 20px;
  }

  .advantages__list {
    display: block;
    width: 300px;
    height: 482px;
    padding: 0;
    order: 2;
  }

  .advantages__list-item {
    width: 300px;
    min-height: 120px;
  }

  .advantages__list-image {
    position: relative;
    top: 0;
    left: 0;
    width: 268px;
    height: 482px;
    background-color: #f2f2f2;
    padding: 0;
    overflow: hidden;
    order: 1;
    z-index: 2;
  }

  .advantages__list-time {
    display: flex;
    justify-content: space-between;
    width: 620px;
    height: 400px;
    background-color: #ffffff;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
  }

  .advantages__list-time-item:first-child {
    width: 240px;
    height: 280px;
  }

  .advantages__list-time-item:nth-child(2) {
    width: 300px;
    height: 280px;
  }

  .advantages__list-item-time-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: black;
    padding: 0;
    margin: 0;
    padding-top: 40px;
  }

  .advantages__list-item-time-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #283645;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .advantages__list-item-time-link {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #d22856;
    border-bottom: 1px solid #d22856;
    margin: 0;
    padding: 0;
  }

  .advantages__list-time-circle {
    position: relative;
    top: -270px;
    left: 30px;
    border: 14px solid #d22856;
    border-radius: 50%;
    width: 202px;
    height: 202px;
    margin: 0;
    padding: 0;
  }

  .advantages__list-time-numbers {
    font-size: 96px;
    font-weight: 700;
    line-height: 149px;
    color: #d22856;
    margin: 0;
    padding: 20px;
  }

  .advantages__time-box {
    width: 298px;
    height: 345px;
  }
}

@media (min-width: 1200px) {
  .advantages__wrapper {
    width: 1200px;
  }

  .advantages__header {
    width: 1200px;
    height: 324px;
    margin-bottom: 0;
  }

  .advantages__header-title {
    font-size: 50px;
    padding-top: 70px;
    padding-bottom: 0;
    line-height: 58px;
  }

  .advantages__header-title:nth-child(2) {
    width: 420px;
    padding-left: 390px;
    padding-right: 390px;
    line-height: 58px;
  }

  .advantages__flex-box {
    flex-direction: column;
    width: 1200px;
    min-height: 620px;
    padding: 0;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 880px;
    height: 210px;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 60px;
    order: 2;
  }

  .advantages__list-item {
    width: 240px;
    height: 210px;
  }

  .advantages__list-title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    padding: 0;
  }

  .advantages__list-text {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    color: #283645;
    padding-top: 25px;
  }

  .advantages__list-image {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1060px;
    height: 310px;
    flex-wrap: nowrap;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 45px;
  }

  .advantages__image-smile-rose,
  .advantages__image-smile-grey {
    display: block;
  }

  .advantages__image-smile-rose,
  .advantages__image-smile-grey,
  .advantages__image-smile {
    width: 186px;
    height: 300px;
  }

  .advantages__image-smile {
    position: relative;
    bottom: 0;
  }

  .advantages__list-image-item {
    height: 310px;
  }

  .advantages__list-time {
    display: flex;
    justify-content: space-between;
    .list-style;
    width: 890px;
    height: 430px;
    background-color: #f2f2f2;
    padding-left: 130px;
    padding-right: 180px;
    order: 3;
  }

  .advantages__list-time-item:first-child {
    width: 298px;
    height: 345px;
  }

  .advantages__list-time-item:nth-child(2) {
    width: 520px;
    height: 345px;
  }

  .advantages__list-item-time-title {
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
    color: black;
    padding: 0;
    margin: 0;
    padding-top: 90px;
  }

  .advantages__list-item-time-text {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    color: #283645;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .advantages__list-item-time-link {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    color: #d22856;
    border-bottom: 1px solid #d22856;
    margin: 0;
    padding: 0;
  }

  .advantages__list-time-circle {
    position: relative;
    top: -283px;
    left: 23px;
    border: 18px solid #d22856;
    border-radius: 50%;
    width: 217px;
    height: 217px;
    margin: 0;
    padding: 0;
  }

  .advantages__list-time-numbers {
    font-size: 120px;
    font-weight: 700;
    line-height: 186px;
    color: #d22856;
    margin: 0;
    padding: 40px;
  }

  .advantages__time-box {
    height: 345px;
    width: 298px;
  }
}
