.page-header {
  width: auto;
  height: auto;
  background-color: #1d2631;
  color: #ffffff;
  margin: auto;
}

.page-header__background-image {
  width: auto;
  min-height: 462px;
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  color: #ffffff;
  padding: 0;
  margin: 0;
  z-index: 1;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 800px auto;
    bottom: 15px;
  }
}

.page-header__background-image-hand {
  position: absolute;
  min-width: 258px;
  z-index: 4;
  top: -285px;
  left: 0;
}


@media (min-width: 660px) {
  .page-header {
    width: auto;
  }

  .page-header__background-image {
    width: auto;
    height: 729px;
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
      bottom: 150px;
    }
  }

  .page-header__background-image img {
    max-width: none;
  }

  .page-header__background-image-hand {
    min-width: 700px;
    height: 545px;
    top: 180px;
    right: 0;
    left: -40px;
    z-index: 0;
    object-fit: contain;
  }
}

@media (min-width: 960px) {
  .page-header {
    width: auto;
  }

  .page-header__background-image {
    width: auto;
    min-height: 854px;
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 960px auto;
      background-position: center 0;
    }
  }

  .page-header__background-image-hand {
    min-width: 1050px;
    height: 645px;
    left: 15px;
    top: 79px;
  }
}
