.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__item-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.site-list__item-logo-icon-desktop {
  display: none;
}

.site-list__item {
  position: relative;
  width: 100%;
  background-color: #283645;
  border-bottom: 1px solid black;
  border-top: 1px solid #485461;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 31px;
  padding-top: 16px;
  padding-bottom: 15px;
  z-index: 3;
}

.site-list__item:first-child {
  padding-top: 11px;
  padding-bottom: 15px;
}

.site-list__item a {
  text-decoration: none;
  color: #ffffff;
}

.site-list__item a:hover {
  color: #d22856;
}

.site-list__item a:focus {
  outline: solid 2px rgba(77, 144, 254, 0.5);
  outline-offset: 5px;
  color: #d22856;
}

.site-list__item a:active {
  color: #d22856;
  opacity: 0.3;
}

@media (min-width: 660px) {
  .site-list__item-box {
    width: auto;
  }

  .site-list__item:first-child {
    padding-top: 26px;
    padding-bottom: 44px;
  }

  .site-list__item-logo-icon-desktop {
    display: none;
  }
}


@media (min-width: 960px) {
  .site-list__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-transform: capitalize;
    width: auto;
    border: none;
    margin-right: 0;
    margin-left: 79px;
    font-size: 19px;
    font-weight: 400;
    line-height: 110px;
    vertical-align: middle;
    background-color: transparent;
    padding: 0;
  }

  .site-list__item:first-child {
    width: 316px;
    height: 110px;
    border: none;
    margin-right: 0;
    margin-left: 0;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-color: transparent;
    padding: 0;
  }

   .site-list__item:nth-child(2) {
    margin-right: 0;
    margin-left: 0;
  }

  .site-list__item:last-child {
    margin-right: 0;
  }

  .site-list__item-capslock {
    text-transform: uppercase;
  }

  .site-list__item-box {
    width: 147px;
    height: 110px;
    padding-left: 0;
    padding-right: 0;
  }

  .site-list__item a:active {
    color: #ffffff;
    opacity: 0.3;
  }

  .site-list__item--active {
    position: relative;
  }

  .site-list__item--active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 35px;
    left: 0;
    height: 2px;
    background: #ffffff;
  }

  .site-list__item-logo-icon-desktop {
    display: flex;
    width: 147px;
    height: 42px;
    fill: #ffffff;
    padding-top: 27px;
    padding-bottom: 43px;
  }

  .site-list__item-logo:hover .site-list__item-logo-icon-desktop {
    fill: #d22856;
  }

  .site-list__item-logo:focus {
    outline: solid 2px rgba(77, 144, 254, 0.5);
    outline-offset: 5px;
  }

  .site-list__item-logo:focus .site-list__item-logo-icon-desktop {
    fill: #d22856;
  }

  .site-list__item-logo:active .site-list__item-logo-icon-desktop {
    fill: #ffffff;
    opacity: 0.3;
  }
}
