.footer-photo__wrapper {
  display: flex;
}

.footer-photo__wrapper-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 177px;
  padding-right: 72px;
  padding-left: 71px;
  padding-top: 40px;
  padding-bottom: 50px;
  height: 205px;
  margin: auto;
}

.footer-photo__wrapper-flex .footer-index__img-logo {
  padding-left: 17px;
  padding-right: 13px;
}

.footer-photo__wrapper-flex .footer-index__developer-box {
  padding-left: 25px;
  padding-right: 22px;
}

.footer-photo__wrapper-flex .footer-index__developer-text {
  line-height: 32px;
}

.footer-photo__wrapper-flex .social__list-index {
  display: flex;
  justify-content: space-between;
  width: 177px;
  height: 51px;
  list-style: none;
  padding: 0;
  padding-left: 12px;
  padding-bottom: 7px;
  margin: 0;
}

@media (min-width: 660px) {
  .footer-photo__wrapper {
    width: 620px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 50px;
    height: 128px;
    margin: auto;
  }

  .footer-photo__wrapper-flex {
    flex-direction: row;
    width: 640px;
    padding: 0;
    align-items: center;
    height: 128px;
    margin: auto;
  }

  .footer-photo__wrapper-flex .footer-index__img-logo {
    padding-left: 0;
    padding-right: 0;
  }

  .footer-photo__wrapper-flex .footer-index__developer-box {
    padding-right: 0;
    padding-left: 0;
  }

  .footer-photo__wrapper-flex .social__list-index {
    padding-left: 0;
    padding-bottom: 0;
    margin: 0;
  }
}

@media (min-width: 960px) {
  .footer-photo__wrapper {
    width: 940px;
    height: auto;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }

  .footer-photo__wrapper-flex {
    width: 940px;
    padding-right: 0;
    padding-left: 0;
    padding-top: 65px;
    padding-bottom: 50px;
    height: 128px;
    margin: auto;
  }

  .footer-photo__wrapper-flex .footer-index__social {
    padding-top: 0;
    height: auto;
  }

  .footer-photo__wrapper-flex .footer-index__developer-box {
    padding-bottom: 0;
    padding-top: 0;
    width: 152px;
  }

  .footer-photo__wrapper-flex .social__list-index {
    padding-left: 5px;
  }

  .footer-photo__wrapper-flex .footer-index__developer-text {
    line-height: 20px;
  }
}
