.page-header--photo {
  width: 100%;
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  color: #ffffff;
  margin: auto;
  overflow: hidden;
}

.page-header-photo__title {
  width: 180px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding: 0;
  padding-top: 97px;
  padding-bottom: 50px;
  padding-left: 70px;
  padding-right: 70px;
  margin: 0 auto;
}

.page-header--photo .page-header__background-image {
  min-height: 237px;
}

@media (min-width: 660px) {
  .page-header--photo {
    width: 100%;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .page-header--photo .page-header__background-image {
    height: 440px;
    background-size: auto 725px;
  }

  .page-header-photo__title {
    width: 360px;
    font-size: 50px;
    line-height: 58px;
    padding-top: 185px;
    padding-bottom: 60px;
    padding-left: 150px;
    padding-right: 150px;
    margin: 0 auto;
  }
}

@media (min-width: 960px) {
  .page-header--photo {
    width: 100%;
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .page-header-photo__title {
    width: 360px;
    font-size: 50px;
    line-height: 58px;
    padding-top: 175px;
    padding-bottom: 60px;
    margin: 0 auto;
  }

  .page-header--photo .page-header__background-image {
    height: 395px;
    background-size: auto 850px;
  }
}
