.photo-editor__wrapper {
  width: 320px;
  background-color: #f2f2f2;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

.photo-editor__title-wrapper {
  width: 280px;
  min-height: 92px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

.photo-editor__title {
  width: 280px;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  color: #283645;
  padding: 0;
  margin: 0;
}

.photo-editor__list {
  display: flex;
  justify-content: space-around;
  width: 240px;
  height: 85px;
  vertical-align: middle;
  border-bottom: 2px solid #283645;
  .list-style;
}

.photo-editor__range-controls-ring {
  position: absolute;
  top: 79px;
  right: 75px;
  width: 10px;
  height: 10px;
  border: 2px solid #d22856;
  border-radius: 50px;
  background-color: #ffffff;
  z-index: 2;
}

.photo-editor__img {
  display: block;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.photo-editor__item-img {
  display: block;
  vertical-align: middle;
}

.photo-editor__item {
  padding-bottom: 4px;
}

.photo-editor__item:last-child {
  padding-top: 5px;
  padding-bottom: 8px;
}

.photo-editor__box-wrapper {
  position: relative;
  width: 240px;
  height: 85px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 34px;
  z-index: 1;
}

.photo-editor__button {
  width: 320px;
  height: 162px;
  border-top: 2px solid #dddfe0;
}

.photo-editor__button-upload {
  border-style: none;
  width: 280px;
  height: 55px;
  border: 3px solid #d22856;
  border-radius: 50px;
  background-color: #ffffff;
  color: #d22856;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 38px;
  margin-bottom: 12px;
  padding: 0;
  cursor: pointer;
}

.photo-editor__button-cansel {
  border-style: none;
  width: 280px;
  height: 55px;
  border: 3px solid #dddfe0;
  border-radius: 50px;
  background-color: #ffffff;
  color: #dddfe0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

@media (min-width: 660px) {
  .photo-editor__wrapper {
    width: 640px;
    padding-top: 57px;
    padding-bottom: 40px;
    padding-left: 20px;
  }

  .photo-editor__title-wrapper {
    width: 620px;
    min-height: 58px;
    padding-top: 46px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .photo-editor__title {
    width: 620px;
    font-size: 18px;
  }

  .photo-editor__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 413px;
  }

  .photo-editor__img {
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .photo-editor__img-wrapper {
    width: 300px;
    height: 400px;
    background-color: #ffffff;
  }

  .photo-editor__list {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 204px;
    border-bottom: none;
  }

  .photo-editor__box-wrapper {
    width: 280px;
    height: 204px;
    padding-left: 0;
    padding-right: 0;
  }

  .photo-editor__range-controls-ring {
    display: none;
  }

  .photo-editor__line-one {
    position: relative;
    width: 202px;
    height: 9px;
    border-bottom: 2px solid #283645;
    margin-bottom: 11px;
  }

  .photo-editor__line-two {
    position: relative;
    width: 202px;
    height: 9px;
    border-bottom: 2px solid #283645;
    margin-bottom: 11px;
  }

  .photo-editor__line-three {
    position: relative;
    width: 202px;
    height: 9px;
    border-bottom: 2px solid #283645;
    margin-bottom: 11px;
  }

  .photo-editor__line-one::before {
    position: absolute;
    top: 2px;
    left: 150px;
    content: "";
    width: 10px;
    height: 10px;
    border: 2px solid #d22856;
    border-radius: 50px;
    background-color: #ffffff;
  }

  .photo-editor__line-two::before {
    position: absolute;
    top: 2px;
    left: 30px;
    content: "";
    width: 10px;
    height: 10px;
    border: 2px solid #d22856;
    border-radius: 50px;
    background-color: #ffffff;
  }

  .photo-editor__line-three::before {
    position: absolute;
    top: 2px;
    left: 100px;
    content: "";
    width: 10px;
    height: 10px;
    border: 2px solid #d22856;
    border-radius: 50px;
    background-color: #ffffff;
  }

  .photo-editor__item-link {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .photo-editor__item {
    width: 275px;
    height: 45px;
    border-bottom: 1px solid #dddfe0;
  }

  .photo-editor__item:last-child {
    height: 48px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .photo-editor__button {
    border-top: none;
  }

  .photo-editor__button-upload {
    width: 260px;
    margin-top: 28px;
    margin-bottom: 20px;
  }

  .photo-editor__button-cansel {
    width: 260px;
  }
}

@media (min-width: 1200px) {
  .photo-editor__title-wrapper {
    width: 430px;
    min-height: 60px;
    padding-top: 5px;
    padding-bottom: 65px;
    padding-left: 365px;
    padding-right: 365px;
  }

  .photo-editor__title {
    width: 430px;
  }

  .photo-editor__wrapper {
    width: 800px;
    height: 417px;
    padding-top: 57px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 60px;
  }

  .photo-editor__form {
    width: 860px;
    height: 402px;
  }

  .photo-editor__img-wrapper {
    width: 300px;
    height: 400px;
    margin-right: 30px;
    background-color: #ffffff;
  }

  .photo-editor__img {
    width: 300px;
    height: 400px;
  }

  .photo-editor__form-flex {
    width: 410px;
    height: 402px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .photo-editor__box-wrapper {
    width: 410px;
    height: 201px;
  }

  .photo-editor__list {
    width: 410px;
    height: 201px;
  }

  .photo-editor__item {
    width: 410px;
    height: 45px;
    border-bottom: 1px solid #dddfe0;
  }

  .photo-editor__line-one {
    width: 288px;
    margin-right: 30px;
  }

  .photo-editor__line-two {
    width: 288px;
    margin-right: 30px;
  }

  .photo-editor__line-three {
    width: 288px;
    margin-right: 30px;
  }

  .photo-editor__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 410px;
    height: 55px;
    padding-top: 110px;
  }

  .photo-editor__button-upload {
    width: 183px;
    margin: 0;
  }

  .photo-editor__button-cansel {
    width: 183px;
    margin: 0;
  }
}
